.todoTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleValue {
  display: flex;
  align-items: center;
}

.textStyle {
  margin-left: 8px;
}

.completed {
  text-decoration: line-through;
}
